

.my-nav{
    top: 0;
    position: sticky;
    z-index: 999;
}

.site-h1 {
    margin-bottom: 20px;
    line-height: 60px;
    padding-bottom: 10px;
    color: #393D49;
    /*border-bottom: 1px solid #eee;*/
    font-size: 28px;
    font-weight: 300;
}

.act-item {
    padding: 20px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
    background: white;
    border-bottom: 1px solid #eee;
}

@-webkit-keyframes gradientBG {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}

.act-item:hover {
    cursor: pointer;
    background: linear-gradient(-45deg, rgba(238, 119, 82, 0.5), rgba(231, 60, 126, 0.5), rgba(35, 166, 213, 0.5), rgba(35, 213, 171, 0.5));
    background-size: 400% 400%;
    -webkit-animation: gradientBG 15s ease infinite;
    animation: gradientBG 15s ease infinite;
}


.act-item > h2 {
    font-size: 18px;
    color: #0063ff;
}

.act-item > p {
    margin-left: 9px;
    line-height: 24px;
    font-size: 14px;
    margin-top: 10px;
}

.act-state {
    float: right;
    margin-right: 20px;
    color: #333;
    font-size: 15px;
    padding: 2px 10px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.1);

}

.more {
    margin-right: 20px;
}

.fix-card.layui-card {
    background: none;
}


.actForm-title{
    margin: 20px 20px ;
}

.partake-form .layui-input-block {
    margin-left: 20px;
    margin-right: 20px;
    min-height: 36px;
}

.bg-white{
    background-color: white;
}
.float-right{
    float: right;
}



/* 底部 */
.footer {
    padding: 30px 0;
    line-height: 30px;
    text-align: center;
    color: #666;
    font-weight: 300;
}

body .layui-layout-admin .footer-demo {
    height: 50px;
    line-height: 50px;
    padding: 5px 0;
}

.footer a {
    padding: 0 5px;
}

.site-union {
    color: #999;
}

.site-union>* {
    display: inline-block;
    vertical-align: middle;
}

.site-union a[sponsor] img {
    width: 80px;
}

.site-union span {
    position: relative;
    top: 5px;
}

.site-union span a {
    padding: 0;
    display: inline;
    color: #999;
}

.site-union span a:hover {
    text-decoration: underline;
}

.site-union .site-union-desc {
    display: block;
    margin-bottom: 10px;
}

.footer-demo p, .footer-demo .site-union, .footer-demo .site-union p {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

.footer-demo .site-union {
    position: relative;
    top: -5px;
}

.footer-demo .site-union .site-union-desc {
    margin-bottom: 0;
    padding-right: 0;
}

.footer-demo .site-union a[sponsor] img {
    position: relative;
    top: 3px;
}
